<br>
<br>
<div class="container">
<article class="uk-comment">
    <header class="uk-comment-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-comment-avatar" [src]="dataprofile.image" width="80" height="80" alt="">
            </div>
            <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{dataprofile.flName}}</a></h4>
                <button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#exampleModal"> update</button>
                <button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#exampleModal2"> update Image</button>
            </div>
        </div>
    </header>
    
</article>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
              <input type="text"  class="form-control"name="flName"[(ngModel)]="dataprofile.flName">
              <div class="alert alert-success"  *ngIf="successupdate"> {{successupdate}}  </div>
              <button class="btn btn-success"(click)="update()">update now!</button>
          </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
    
  </div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
             <input type="file"  accept= ".jpg, .png " (change)="uploadimage($event)">
             <div *ngIf="percentage | async  as percent">
               <div *ngIf="percent == 100" class="alert alert-success"> Upload Successfuly ! your image sent to your user</div>
               
           <progress
           id="js.progressbar"
           class="uk-progress"
           [value]="percent"
           max="100"> </progress>
              
            </div>
      
          </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
    
  </div>
  
  
